.table-cell:filled {
    -fx-background-color: #27ae60;;
}

.table-view:row-selection .table-row-cell:selected .table-cell {
    -fx-background-color: null;
}

.table-view:cell-selection .table-cell:selected {
    -fx-background-color: #27ae60;
}

.check-box {
    -fx-font-size: 18;
    -fx-font-weight: bold;
	-fx-background-color: #27ae60;
}

.check-box .content {
    -fx-background-color: #27ae60;
}