.text-area {
    -fx-font-family: Ubuntu;
    -fx-font-size: 14;
    -fx-text-fill: #ffffff;
    -fx-display-caret:true;
	-fx-background-color: #27ae60;
}

.text-area .content {
    -fx-background-color: #27ae60;
}